#images, #attachments {
    margin-bottom: 15px;
}

.attachment-wrapper {
    tr {
        td {
            &:nth-child(2),
            &:nth-child(3) {
                min-width: 200px;
            }

            &:nth-child(4) {
                width: 59px;
            }
        }
    }

    .choose-file {
        padding: 10px 15px;
    }
}
